act02/Concesionario.dtd

<!ELEMENT Concesionario (concesionario*)>
<!ELEMENT concesionario (cod_coche, marca, modelo, matricula, potencia, plazas, num_puertas)>
<!ELEMENT cod_coche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT num_puertas (#PCDATA)>
